@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root {
    --cor0: #d3e2ff; --cor1: #230e3f57;
}

/* CONFIG DO HEADER  */
body {
    background-image: linear-gradient(50deg, #3d098659, #2020) ;
}

/* LINKS CONFIG GERAL  */

a {
    color: #371563;
}

a:active {
    color: #230e3f;
}

/* FIM LINKS CONFIG GERAL */

main {
    height: 100vh;
}

header {
    padding: 40px  30px;
    display: grid;
    grid-template-columns: auto auto;
    background-color: var(--cor1);
}

header .menu {
    padding: 5px;
    text-align: end;
}

#tit {
    color: rgb(26, 3, 48);
    animation: roxow 3s .2s;
}

            /* animation tit*/
@keyframes roxow {
    0% {
        color: rgba(21, 6, 46, 0.842);
    }
    20% {
        color: rgba(36, 11, 77, 0.842);
    }
    40% {
        color: rgba(60, 23, 119, 0.842);
    }
    60% {
        color: rgba(52, 23, 97, 0.842);
    }
    70% {
        color: rgba(38, 11, 85, 0.842);
    }
    80% {
        color: rgba(28, 8, 59, 0.842);
    }
    90% {
        color: rgba(21, 6, 46, 0.842);
    }
    100% {
        color: rgba(9, 1, 22, 0.842);
    }
}

/* FIM CONFIG DO HEADER  */

/* breakpoint cel e tab */
@media screen and (min-width: 320px) and (max-width: 480px) {
    main {
        width: 90vw;
    }

    header {
        grid-template-columns: auto;
    }

    header .menu {
        margin: 20px 0px 0px -10px;
        padding: 0px;
        font-size: 1.2em;
        text-align: center;
    }

}

@media screen and (min-width:480px) and (max-width:600px) {
    main {
        width: 90vw;
    }

    header {
        grid-template-columns: auto;
    }

    header .menu {
        margin: 20px 0px 0px -10px;
        padding: 0px;
        font-size: 1.3em;
        text-align: center;
    }


}

@media screen and (min-width:600px) and (max-width:835px) {
    main {
        width: 90vw;
    }
}
                /* fim breakpoints */

/* configuranto titulo das playlist  */ 
.htm-h3 {
    background-color: #05056b;
    color: white;
    margin: 15px 0px -15px 0px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 5px;
}

.logic-h3 {
    background-color: #6b0527;
    color: white;
    margin: 15px 0px -15px 0px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 5px;
}

.jscript-h3 {
    background-color: #6b4b05;
    color: white;
    margin: 15px 0px -15px 0px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 5px;
}



/* INICIO CONFIG DESTAQUE */
main {
    width: 80vw;
    margin: auto;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    main {
        width: 90vw;
    }

}

@media screen and (min-width:480px) and (max-width:600px) {
    main {
        width: 90vw;
    }
}

h3 {
    margin: 20px 0px;
}



/* CONFIG PLAYLIST */

.playlisthtml, .playlistlogica, .playlistJscript {
    display: none;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    border: 2px solid black;
}

button {
    background-color: whitesmoke;
    height: 25px;
    width: 40px;
    border-radius: 5px;
    border: 2px solid black;
    margin-left: 5px;
}

#icon-btn {
    padding: 2px;
    font-size: 1.7em;
    font-weight: bold;
    vertical-align: middle;
}

/* BOTAO DENTRO DAS PLAYSLIST  */ 

.btnPlaylist {
    display: inline-block;
    background-color: gray;
    border: 2px solid black;
    padding: 5px;
    margin: 5px 0px;
    border-radius: 5px;
    color: white;
} .btnPlaylist, a {
    text-decoration: none;
}
/*FIM --- BOTAO DENTRO DAS PLAYSLIST  */ 



.h3-inline {
    display: inline-block;
}

/*  fim config playlist */

/* confgi video*/

.video {
    display: block;
    width: 100%;
}

/* FOOTER  */
footer {
    background-color: #1d1d1d;
    padding: 20px;
    text-align: center;
    color: white;
    margin-top: 10px;
    font-size: .8em;
}

footer a {
    color: var(--cor0);
}

/* FIM - FOOTER  */